@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-gradient-background {
  background: linear-gradient(90deg, #8fffef 25%, #f9f490);
  background-clip: text;
  color: transparent;
  box-decoration-break: clone;
}

.gradient-background {
  background-image: linear-gradient(158deg, #5ad6c4, #fdef78);
}

.video-container {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
